html,body,#content {
    height: 100%;
    width: 100%;
}
header.aui-bar.aui-bar-nav{
    display: none;
}
footer.aui-bar.aui-bar-tab{
    display: none;
}
.spread-info {
    background: #fff;
    padding: 1.2rem 0.6rem;
    text-align: center;
    overflow: hidden;
}
.spread-info img {
    display: block;
    float: left;
    height: 3rem;
    width: 3rem;
    margin-left: 18%;
}
.spread-info-text {
    font-size: 1.4rem;
    color: #333;
    text-align: left;
    margin-left: 1.3rem;
    float: left;
    margin-top: 0.6rem;
}
.spread-info-text h4 {
    font-weight: 100;
}
.spread-info-text .info-color {
    color: #159D6E;
}
.spread-info-text p {
    margin-top: 0.12rem;
}
.spread-img{
    width: 100%;
    max-width: 375px;
    position: relative;
}
.spread-img img{
    width: 100%;
    height: 100%;
}
.card-content{
    position: absolute;
    width: 150px;
    height: 150px;
    top:40%;
    padding: 10px;
    left: 15%;
    box-sizing: border-box;
    background: white;
}
