.aui-bar.aui-bar-nav .aui-pull-left,.aui-bar.aui-bar-nav .aui-title,.aui-bar.aui-bar-nav .aui-pull-right,.aui-bar.aui-bar-nav .aui-searchbar{
    height: 2.5rem;
    line-height: 2.5rem;
}
body, ul, ol, li, p, h2, h3, h4, h5, h6, form, fieldset, td, img, div, dl, dt, dd {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
}
/*主页搜索*/

.aui-searchbar .aui-iconfont{
    line-height: 1.8rem;
}
#content{
padding-bottom:2.5rem ;
}
section.aui-grid.product-list{
    background-color: #f5f5f5;
}
.aui-row div.product-div{
    background-color:#f5f5f5;
    padding: 0 0 2%;
}
.product-content {
    margin: 0 auto;
    width: 96%;
    background-color: #ffffff;
}
.product-img{
    width: 100%;
    height: 50vw;
}
.product-div h4 {
    padding: 0.4rem;
    font-size: 15px;
    height: 2.2rem;
    line-height: 1rem;
    overflow: hidden;
}
.product-div p {
    padding: 0.4rem;
}
.product-div p span {
    color: #1cbb7f;
    font-size: 0.9rem;
}