html,body,#content {
    height: 100%;
    width: 100%;
}
header.aui-bar.aui-bar-nav{
    display: none;
}
footer.aui-bar.aui-bar-tab{
    display: none;
}
#content{
    padding: 0;
}

#box {
    width: 100%;
}
.shop-money-box p {
    padding-top: 1.2rem;
}
.shop-money-box h4 {
    font-size: 50px;
}
.shop-money-box span {
    padding-bottom:1.2rem;
    display: block;
}
.shop-b {
    border-bottom: 1px solid #F6F6F9;
    position: relative;
}
.cate-shop-box {
    font-size: 17px;
}
.cate-shop-box span {
    margin-left: 0.3rem;
    color: #555;
    font-size: 17px;
}
.cate-shop-box .aui-iconfont{
    color: #1CBB7F;
    font-size: 22px;
}
.n-right-box {
    width: 2.5rem;
    padding-top: 0.25rem;
}
span.t-jiantou i.aui-icon-left.current {
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    position: absolute;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.n-sect-i i {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    position: absolute;
}
.t-jiantou i {
    font-size: 15px;
    position: absolute;
    right: 0.72rem;
    top: 33%;
    color: #999;
}
.two-shop-tit {
    margin-left: 1.44rem;
    font-size: 15px;
    color: #777;
}
.sale-right-tit {
    margin-right: 1.32rem;
}
.n-but-box {
    margin-top: 0.9rem;
}
.n-but-box span {
    padding: 0.5rem 0.3rem;
    display: block;
}
.n-set-4-submit {
    font-size: 18px;
    text-align: center;
    height: 2.4rem;
    line-height: 2.4rem;
    background: #1CBB7F;
    width: 100%;
    color: #fff;
    border: none;
    border-radius:0.3rem;
}
.n-shop-but {
    background: #fff;
    border: 1px solid #1CBB7F;
    color: #1CBB7F;
}
.n-t-a-center {
    text-align: center;
    margin: 0 auto;
    margin-top: 1.2rem;
}