header .aui-title{
    color: black;
}
.con {
    background: #f7f7f7;
    overflow: hidden;
}
.flow-price {
    background-color: #fff;
    border-bottom: 1px #e3e3e3 solid;
    box-sizing: border-box;
}
.flow-price .shop-tips{
    font-size: 14px;
    width: 68%;
    padding-left:1rem ;
    display: inline-block;
    box-sizing: border-box;
}
.flow-price .select-all{
    width: 30%;
    padding: 0.35rem 1rem 0.35rem 0.35rem;
    text-align: right;
    display: inline-block;
    box-sizing: border-box;
}
.flow-price .select-all input{
    width: 1rem;
    height: 1rem;
    margin-right: 0.2rem;
    border-radius: 100%;
}
.flow-price .select-all span{
    font-size: 16px;
}
.price-tips{
    padding: 0.35rem;
    float: right;
}
b, strong {
    font-weight: 700;
}
.ect-colory {
    color: #e91e63 !important;
}
.ect-pro-list {
    border-bottom: 1px #e3e3e3 solid;
    display: block;
    box-sizing: border-box;
}
.ect-pro-list ul li{
    clear: both;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0.35rem;
    background: #fff;
    border-bottom: 1px #e3e3e3 dotted;
    list-style-type: none;
}
.ect-clear-over {
    clear: both;
    overflow: hidden;
    height: auto;
}
.ect-pro-list ul li span {
    display: inline-block;
    float: left;
    background-color: transparent;
}
.ect-pro-list ul li img {
    width: 5rem;
    height:5rem;
}
.ect-pro-list ul li dl {
    margin-left: 5.2rem;
}
.ect-pro-list h4.title {
    font-size: 16px;
    line-height: 1rem;
    display: block;
    height: 2rem;
    overflow: hidden;
}
.ect-pro-list ul li dl dd {
    margin-top: 0.25rem;
    font-size: 12px;
    overflow: hidden;
}
.flow-num-del {
    clear: both;
    margin-top: 0.4rem;
    overflow: hidden;
    height: auto;
    margin-bottom: 0 !important;
    box-sizing: border-box;
}
.wrap.input-group {
    border: 1px solid #e3e3e3;
    width: 7rem;
    height: 1.6rem;
    float: left!important;
    position: relative;
    border-collapse: separate;
}
.wrap .input-group-addon {
    width: 1.6rem;
    font-size: 24px;
    height: 1.6rem;
    line-height: 1.4rem;
    padding: 0;
    border-radius: 0;
    border: none;
    cursor: pointer;
    font-weight: 400;
    color: #555;
    text-align: center;
    display: inline-block;
}
.wrap .form-contro {
    font-size: 16px;
    height: 1.6rem;
    text-align: center;
    padding: 0 0.25rem;
    width: 3.6rem;
    background: none;
    display: inline-block;
    float: left;
    border-left-color: #e5e5e5;
    border-top: none;
    border-bottom: none;
    border-right-color: #e5e5e5;
    border-radius: 0;
    box-shadow: inset 0 0 0;
}
.pull-right {
    float: right!important;
}
.pull-right span{
    font-size: 16px;
    margin: 0.5rem 0.5rem 0 0;
}
.flow-jiesuan {
    background: #f7f7f7;
    padding: 0.5rem;
}
.flow-jiesuan .btn-info {
    width: 100%;
    border: none;
    padding: 0.3rem 0;
    font-size: 18px;
    color: #fff !important;
    background: #00bcd4 !important;
    height: auto;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 4px;
}
.chack-input-box input.aui-checkbox{
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
}
.o-t-error {
    margin-top: 5rem;
    display: none;
}
.o-t-error .img {
    margin: 0 auto;
    width: 5.5rem;
    height: 5.5rem;
    background: #ccc;
    border-radius: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.o-t-error .img img {
    width: 3rem;
    vertical-align: middle;
}
.o-t-error .sub {
    margin-top: 0.2rem;
    text-align: center;
    color: #999;
}
.o-t-error .btn {
    text-align: center;
    margin-top:0.5rem;
}
.o-t-error .btn span {
    display: inline-block;
    border: 1px solid #051b28;
    border-radius: 0.2rem;
    padding: 0.2rem 1rem;
    cursor: pointer;
}

.o-t-error .title {
    margin-top: 0.6rem;
    text-align: center;
    font-size: 14px;
}