<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="/stylesheet/lib/aui.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheet/main.css" />
    <script type="text/javascript" src="/javascript/lib/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/javascript/lib/handlebars-v4.0.2.js"></script>
    <script type="text/javascript" src="/javascript/lib/aui-tab.js" ></script>
    <script type="text/javascript" src="/javascript/lib/aui-slide.js" ></script>
    <script type="text/javascript" src="/javascript/main.js"></script>
    {{#each cssList}}
    <link rel='stylesheet' type="text/css" class="cssList" href='/stylesheet/{{this}}' />
    {{/each}}
    {{#each jsList}}
    <script type="text/javascript" src='/javascript/{{this}}' class="jsList"></script>
    {{/each}}
</head>
<body>
<header class="aui-bar aui-bar-nav aui-bar-light">
    <a class="aui-pull-left aui-btn">
        <span class="aui-iconfont aui-icon-menu"></span>
    </a>
    <div class="aui-title">
        <div class="aui-searchbar" id="search">
            <div class="aui-searchbar-input aui-border-radius" tapmode>
                <i class="aui-iconfont aui-icon-search"></i>
                <form action="javascript:search();">
                    <input type="search" placeholder="请输入搜索内容" id="search-input">
                </form>
            </div>
        </div>
    </div>
    <a class="aui-pull-right aui-btn ">
        <span class="aui-iconfont aui-icon-comment"></span>
    </a>
</header>
<div id="content">
    <div id="aui-slide">
        <div class="aui-slide-wrap" >
            <div class="aui-slide-node bg-dark">
                <img src="/images/slide1.png" />
            </div>
            <div class="aui-slide-node bg-dark">
                <img src="/images/slide2.png" />
            </div>
            <div class="aui-slide-node bg-dark">
                <img src="/images/slide3.png" />
            </div>
        </div>
        <div class="aui-slide-page-wrap"><!--分页容器--></div>
    </div>
    <section class="aui-grid">
        <div class="aui-row">
            <div class="aui-col-xs-3">
                <img src="/images/nav_0.png" alt="" class="index_nav">
                <div class="aui-grid-label">全部分类</div>
            </div>
            <div class="aui-col-xs-3">
                <img src="/images/nav_1.png" alt="" class="index_nav">
                <div class="aui-grid-label">促销活动</div>
            </div>
            <div class="aui-col-xs-3">
                <img src="/images/nav_2.png" alt="" class="index_nav">
                <div class="aui-grid-label">热门搜索</div>
            </div>
            <div class="aui-col-xs-3">
                <img src="/images/nav_3.png" alt="" class="index_nav">
                <div class="aui-grid-label">我的订单</div>
            </div>
        </div>
    </section>
    <section class="aui-grid">
        <div class="aui-row">
            <div class="aui-col-xs-6 index-theme-icon">
                <img src="/images/index-theme-icon1.gif" alt="">
            </div>
            <div class="aui-col-xs-6 index-theme-icon">
                <img src="/images/index-theme-icon2.gif" alt="">
            </div>
            <div class="aui-col-xs-6 index-theme-icon">
                <img src="/images/index-theme-icon3.gif" alt="">
            </div>
            <div class="aui-col-xs-6 index-theme-icon">
                <img src="/images/index-theme-icon4.gif" alt="">
            </div>
        </div>
    </section>
    <div class="n-cate-box">
        <p class="index-title"><i class="iconfont icon-cainixihuan is-cainixihuan"></i>猜你喜欢</p>
        <p class="index-small-title">实时推荐最适合您的宝贝</p>
    </div>
    <section class="aui-grid product-list">
        <div class="aui-row">
            <div class="aui-col-xs-6 product-div">
                <div class="product-content">
                    <div class="product-img">
                        <img src="/images/product1.jpg" alt="">
                    </div>
                    <h4>福鼎蜜汁鸡翅  香甜入骨20个装  挡不住的诱惑</h4>
                    <p><span>￥115.00元</span></p>
                </div>
            </div>
            <div class="aui-col-xs-6 product-div">
                <div class="product-content">
                    <img src="/images/product2.jpg" alt="">
                </div>
            </div>
            <div class="aui-col-xs-6 product-div">
                <div class="product-content">
                    <img src="/images/product3.jpg" alt="">
                </div>
            </div>
            <div class="aui-col-xs-6 product-div">
                <div class="product-content">
                    <img src="/images/product4.jpg" alt="">
                </div>
            </div>
            <div class="aui-col-xs-6 product-div">
                <div class="product-content">
                    <img src="/images/product5.jpg" alt="">
                </div>
            </div>
            <div class="aui-col-xs-6 product-div">
                <div class="product-content">
                    <img src="/images/product6.jpg" alt="">
                </div>
            </div>
            <div class="aui-col-xs-6 product-div">
                <div class="product-content">
                    <img src="/images/product7.jpg" alt="">
                </div>
            </div>
            <div class="aui-col-xs-6 product-div">
                <div class="product-content">
                    <img src="/images/product8.jpg" alt="">
                </div>
            </div>
            <div class="aui-col-xs-6 product-div">
                <div class="product-content">
                    <img src="/images/product9.jpg" alt="">
                </div>
            </div>
            <div class="aui-col-xs-6 product-div">
                <div class="product-content">
                    <img src="/images/product10.jpg" alt="">
                </div>
            </div>
            <div class="aui-col-xs-6 product-div">
                <div class="product-content">
                    <img src="/images/product11.jpg" alt="">
                </div>
            </div>
            <div class="aui-col-xs-6 product-div">
                <div class="product-content">
                    <img src="/images/product12.jpg" alt="">
                </div>
            </div>

        </div>
    </section>
</div>
<footer class="aui-bar aui-bar-tab" id="footer">
    <div class="aui-bar-tab-item aui-active" tapmode>
        <i class="aui-iconfont aui-icon-home"></i>
        <div class="aui-bar-tab-label">首页</div>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <i class="aui-iconfont aui-icon-search"></i>
        <div class="aui-bar-tab-label">分类</div>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <i class="aui-iconfont aui-icon-star"></i>
        <div class="aui-bar-tab-label">店铺</div>
    </div>
    <div class="aui-bar-tab-item" tapmode >
        <div class="aui-badge">99</div>
        <i class="aui-iconfont aui-icon-cart"></i>
        <div class="aui-bar-tab-label">购物车</div>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <div class="aui-dot"></div>
        <i class="aui-iconfont aui-icon-my"></i>
        <div class="aui-bar-tab-label">我的</div>
    </div>
</footer>
<!--<script type="text/javascript" src="javascript/lib/api.js" ></script>-->
<script type="text/javascript">
    apiready = function(){
        api.parseTapmode();
    };
    var tab = new auiTab({
        index: 1, //默认选中
        element:document.getElementById("footer"),
        repeatClick: false //是否允许重复点击
    },function(ret){
        if(ret){
            var str='';
            let headAll=$('header');
            $('.cssList').remove();
            $('.jsList').remove();
            $('.templateList').remove();
            headAll.html(ui.header);
            let headLeft=$('.aui-pull-left');
            let headRight=$('.aui-pull-right');
            let headTitle=$('.aui-title');
            function tapSwitch(url,left,title,right){
                $.get(url,function(result){
                    $.each(result.cssList,function(_,v){
                        str+="<link rel='stylesheet' type='text/css' href='/stylesheet/"+v+"' class='cssList'/>"
                    });
                    $.each(result.jsList,function(_,v){
                        str+="<script type='text/javascript' src='/javascript/"+v+"' class='jsList'><\/script>"
                    });
                    $('head').append(str);
                    if(left){
                        headLeft.html(left)
                    }
                    if(title){
                        headTitle.html(title);
                    }
                    if(right){
                        headRight.html(right);
                    }
                });
            }
            switch (ret.index){
                case 1:
                    tapSwitch('/home',ui.menu,ui.search,ui.comment);
                    break;
                case 2:
                    tapSwitch('/shop');
                    headAll.html(ui.search);
                    break;
                case 3:
                    tapSwitch('/store');
                    break;
                case 4:
                    tapSwitch('/shop-cart',ui.left,'购物车');
                    break;
                case 5:
                    tapSwitch('/mine');
                    break;

            }
        }
    });
</script>
</body>
</html>