<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="/stylesheet/lib/aui.css" />
    {{#each cssList}}
    <link rel='stylesheet' type="text/css" class="cssList" href='/stylesheet/{{this}}' />
    {{/each}}
</head>
<body>
<header class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn">
        <span class="aui-iconfont aui-icon-left"></span>返回
    </a>
    <div class="aui-title">Title</div>
</header>
<div id="demo">
    {{#each val}}
        {{id}}
        {{name}}
    {{/each}}
</div>
<footer class="aui-bar aui-bar-tab" id="footer">
    <div class="aui-bar-tab-item aui-active" tapmode>
        <i class="aui-iconfont aui-icon-home"></i>
        <div class="aui-bar-tab-label">首页</div>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <i class="aui-iconfont aui-icon-search"></i>
        <div class="aui-bar-tab-label">分类</div>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <i class="aui-iconfont aui-icon-star"></i>
        <div class="aui-bar-tab-label">店铺</div>
    </div>
    <div class="aui-bar-tab-item" tapmode >
        <div class="aui-badge">99</div>
        <i class="aui-iconfont aui-icon-cart"></i>
        <div class="aui-bar-tab-label">购物车</div>
    </div>
    <div class="aui-bar-tab-item" tapmode>
        <div class="aui-dot"></div>
        <i class="aui-iconfont aui-icon-my"></i>
        <div class="aui-bar-tab-label">我的</div>
    </div>
</footer>
</body>
<script type="text/javascript" src="/javascript/lib/jquery-2.1.4.min.js"></script>
<!--<script type="text/javascript" src="javascript/lib/api.js" ></script>-->
<script type="text/javascript" src="/javascript/lib/aui-tab.js" ></script>
{{#each jsList}}
<script type="text/javascript" src='/javascript/{{this}}' class="jsList"></script>
{{/each}}
<script type="text/javascript">
    apiready = function(){
        api.parseTapmode();
    }
    var tab = new auiTab({
        index: 1, //默认选中
        element:document.getElementById("footer"),
        repeatClick: false //是否允许重复点击
    },function(ret){
//        console.log(ret);
        if(ret){
            var localHost='http://'+window.location.host;
            $('.cssList').remove();
            $('.jsList').remove();
            var str='';
            var str1='';
            switch (ret.index){
                case 1:
                    $.get(localHost+'/index',function(result){
                        $.each(result.cssList,function(_,v){
                            str+="<link rel='stylesheet' type='text/css' href='/stylesheet/"+v+"' class='cssList'/>"
                        });
                        $.each(result.jsList,function(_,v){
                            str1+="<script type='text/javascript' src='/javascript/"+v+"' class='jsList'><\/script>"
                        });
                        $('head').append(str);
                        $('body').append(str1);
                    });
                    break;
                case 2:
                    $.get(localHost+'/shop',function(result){
                        $.each(result.cssList,function(_,v){
                            str+="<link rel='stylesheet' type='text/css' href='/stylesheet/"+v+"' class='cssList'/>"
                        });
                        $.each(result.jsList,function(_,v){
                            str1+="<script type='text/javascript' src='/javascript/"+v+"' class='jsList'><\/script>"
                        });
                        $('head').append(str);
                        $('body').append(str1);
                    });
                    break;
                case 3:
                    $.get(localHost+'/store',function(result){
                        $.each(result.cssList,function(_,v){
                            str+="<link rel='stylesheet' type='text/css' href='/stylesheet/"+v+"' class='cssList'/>"
                        });
                        $.each(result.jsList,function(_,v){
                            str1+="<script type='text/javascript' src='/javascript/"+v+"' class='jsList'><\/script>"
                        });
                        $('head').append(str);
                        $('body').append(str1);
                    });
                    break;
                case 4:
                    $.get(localHost+'/shop-cart',function(result){
                        $.each(result.cssList,function(_,v){
                            str+="<link rel='stylesheet' type='text/css' href='/stylesheet/"+v+"' class='cssList'/>"
                        });
                        $.each(result.jsList,function(_,v){
                            str1+="<script type='text/javascript' src='/javascript/"+v+"' class='jsList'><\/script>"
                        });
                        $('head').append(str)
                        $('body').append(str1)
                    });
                    break;
                case 5:
                    $.get(localHost+'/mine',function(result){
                        $.each(result.cssList,function(_,v){
                            str+="<link rel='stylesheet' type='text/css' href='/stylesheet/"+v+"' class='cssList'/>"
                        });
                        $.each(result.jsList,function(_,v){
                            str1+="<script type='text/javascript' src='/javascript/"+v+"' class='jsList'><\/script>"
                        });
                        $('head').append(str);
                        $('body').append(str1);
                    });
                    break;

            }
//            document.getElementById("demo").textContent = ret.index;
        }
    });
</script>
</html>